.container .row .card .image-card {
    height: 350px;
}

.container .row .card .image-card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* object-position: 50% 50%; => default */
}

/* - difference of image size 
- <div><img/></div>
- object-fit  */